---
import Base from "../layouts/BaseLayout.astro";
---
<Base title="Thanks">
  <main class="container" style="padding:30px 20px;text-align:center">
    <h1>Thank you ✅</h1>
    <p style="color:var(--muted)">Ovdje ćemo kasnije slijetati nakon uspješnog slanja kontakt forme.</p>
  </main>
</Base>
